body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#outer {
    margin: 0 auto;
    max-width: 60em;
}

#inner {
    margin: 0 3%;
    text-align: justify;
    font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-decoration: underline;
    color: blue;
}

p {
    text-align: center;
}

.button {
    display: block;
    padding: 0.6em;
    border: 0.15em solid blue;
    margin: 0.8em;
    background: transparent;
    cursor: pointer;
    color: blue;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    color: blueviolet;
    border-color: blueviolet;
}

#button_box {
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}

table {
    margin: 0.6em auto;
    width: 95%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    position: sticky;
    top: 0.6em;
    background-color: #232323;
    text-align: center;
}

thead tr:first-child th {
    border-top-width: 0.15em;
}

thead tr:last-child th {
    border-bottom-width: 0.15em;
}

th {
    border: 0.07em solid magenta;
}

th:first-child, td:first-child {
    border-left-width: 0.15em;
}

th:last-child, td:last-child {
    border-right-width: 0.15em;
}

tbody {
    bottom: 0.6em;
}

tbody tr:nth-child(odd) td {
    background-color: dimgrey;
}

tbody tr:nth-child(even) td {
    background-color: #4b4b4b;
}

table td:not(:nth-child(2)), th:not(:nth-child(2)) {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

tbody tr:first-child td {
    border-top-width: 0;
}

tbody tr:last-child td {
    border-bottom-width: 0.15em;
}

tbody tr:hover td {
    color: black;
    background-color: white;
}

td {
    border: 0.07em solid darkcyan;
}
