#render_target {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#fps {
    position: absolute;
    color: white;
    font-family: "Mago", sans-serif;
    font-size: xx-large;
    margin: 15px;
}

@font-face {
    font-family: "Mago";
    src: url("/fonts/mago1.ttf") format("truetype");
    /* Font source: https://nimblebeastscollective.itch.io/magosfonts */
}
